ADMIN_USERNAME=owner
ADMIN_PASSWORD=ReplaceWithRealOwnerPassword
APP_SECRET=ReplaceWithLongRandomSecret
USE_HTTPS=true
ADMIN_SESSION_MINUTES=30
MAX_LOGIN_ATTEMPTS=5
LOCKOUT_SECONDS=900
LOGIN_ATTEMPT_WINDOW_SECONDS=900
